# Bibliotecas

In [23]:
#Libs Gerais
from sklearn.pipeline import Pipeline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score
#from sklearn.preprocessing import OneHotEncoder

import category_encoders as ce

import pandas as pd

#Libs de modelos de ML
from sklearn import tree

# Lendo Dataset

In [2]:
colunas = ['age', 'workclass','fnlwgt','education', 
           'educational-num', 'marital-status', 'occupation', 
           'relationship', 'race', 'gender', 'capital-gain', 
           'capital-loss', 'hours-per-week', 'native-country', 'income']

In [3]:
df = pd.read_csv('resources/adult.data', names = colunas)
df

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

# 1Â° Parte: PreparaÃ§Ã£o/ ManipulaÃ§Ã£o de Dados e PrÃ©-processamento

In [4]:
#Verifica valores faltantes
df.isnull().sum()

age                0
workclass          0
fnlwgt             0
education          0
educational-num    0
marital-status     0
occupation         0
relationship       0
race               0
gender             0
capital-gain       0
capital-loss       0
hours-per-week     0
native-country     0
income             0
dtype: int64

In [5]:
#Remove colunas desnecessÃ¡rias para anÃ¡lise
df.drop(['education'], axis=1, inplace=True)

In [6]:
#Separa os atribulos dos rotulos
X = df.drop(['income'], axis=1, inplace=False)
y = df['income']

In [7]:
#Separa os dados em treino e teste
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.2)

In [8]:
#Verifica colunas numÃ©ricas e categoricas
df.select_dtypes(include='object')

,workclass,marital-status,occupation,relationship,race,gender,native-country,income
0,State-gov,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,<=50K
1,Self-emp-not-inc,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
2,Private,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
3,Private,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
4,Private,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
...,...,...,...,...,...,...,...,...
32556,Private,Married-civ-spouse,Tech-support,Wife,White,Female,United-States,<=50K
32557,Private,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,United-States,>50K
32558,Private,Widowed,Adm-clerical,Unmarried,White,Female,United-States,<=50K
32559,Private,Never-married,Adm-clerical,Own-child,White,Male,United-States,<=50K
32560,Self-emp-inc,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,>50K

In [9]:
#Aplica o One Hot Encoder
ohe = ce.OneHotEncoder(use_cat_names=True)

In [10]:
X_train = ohe.fit_transform(X_train)

c:\users\user\appdata\local\programs\python\python36\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [13]:
X_train

,age,workclass_ Private,workclass_ Federal-gov,workclass_ ?,workclass_ Self-emp-not-inc,workclass_ Local-gov,workclass_ State-gov,workclass_ Self-emp-inc,workclass_ Without-pay,workclass_ Never-worked,...,native-country_ England,native-country_ Cuba,native-country_ China,native-country_ Scotland,native-country_ Portugal,native-country_ Hong,native-country_ Peru,native-country_ Outlying-US(Guam-USVI-etc),native-country_ France,native-country_ Honduras
3661,57,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14277,42,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25135,40,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5505,29,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2611,25,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5692,31,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18623,35,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23048,18,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24525,30,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21772,38,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
#Aplica o pre-processador
scaler = StandardScaler().fit(X_train)

In [14]:
X_train = scaler.transform(X_train)

## AvaliaÃ§Ã£o de Modelo

In [17]:
model = tree.DecisionTreeClassifier()

In [18]:
model.fit(X_train,y_train)

DecisionTreeClassifier()

#### AvaliaÃ§Ã£o do conjunto de treinamento

In [27]:
#Retorna com os valores de prediÃ§Ã£o do conjunto de treinamento
pred = model.predict(X_train)

In [28]:
#Media de acerto do modelo para o conjunto de treinamento
media = accuracy_score(pred, y_train)
media

1.0

#### AvaliaÃ§Ã£o do conjunto de teste

In [29]:
X_test = ohe.transform(X_test)

In [30]:
scaler_test = StandardScaler().fit(X_test)

In [31]:
X_test = scaler_test.transform(X_test)

In [32]:
pred_test = model.predict(X_test)

In [33]:
media_test = accuracy_score(pred_test,y_test)
media_test

0.7963837383392837